# Ignore node_modules in all subfolders
**/node_modules

# Ignore git metadata
**/.git
**/.gitignore

# Ignore build artifacts
**/dist
**/build

# Ignore local environment variables and secrets
**/.env
**/.env.local
**/.env.*.local

# Ignore uploaded database files and directories
**/uploads
**/data_lake_raw
**/*.db
**/*.db.gz
**/*.db-journal
**/*.db-shm
**/*.db-wal

# Ignore logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Ignore IDE files
**/.vscode
**/.idea
**/*.suo
**/*.sw?
